html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #89BA8B !important;
 
 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F7C6DE;
  text-align: right; 

}

li {
  display: inline-block; 
}

li a {
  display: block;
  color:#0A5313 ;
  text-align: center;
  padding: 14px 16px 0px ;
  text-decoration: none;
  font-size: 25px;
}

li:hover a {
  color: #F7C6DE;
  background-color: #0A5313; 
  padding: 10px; 
  border-radius: 5px; 
}

#logo {
  float: left; 

}

#logo img {
  height: 40px; 
  vertical-align: middle;
}


#MyName {
font-family: 'Arial', sans-serif;
font-size: 30px;
font-weight: bold;
color: #0A5313;
text-transform: uppercase;
letter-spacing: 0.5px;
line-height: 1.5;
text-align: center;
margin-top: 100px;
  margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: #F7C6DE; 

}


#intro {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #0A5313;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-align: center;
  margin-top: 80px;
  overflow: hidden;
}

#MyName:hover {
  color: #F7C6DE; 
  background-color: #0A5313; 
  padding: 10px;
  letter-spacing: 0.5px
  border-radius: 5px; 
  transition: all 0.3s ease; 
}

#intro:hover {
  color: #F7C6DE;
  background-color: #0A5313; 
  padding: 10px; 
  border-radius: 5px;
  transition: all 0.3s ease; 
}


#MyImage {
    width: 170px; 
    height: 170px; 
    border-radius: 50%;
    object-fit: cover; 
   float: right;
  margin-left: 10px;
  border: 4px solid #0A5313;
  transition: all 0.3s ease

}

  #MyImage:hover {
    border-color: #0A5313;; 
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }

.pink-bar {
  width: 100%;         
  height: 40px;        
  background-color: pink;  
  position: fixed;     
  top: 0;              
  left: 0;
  z-index: 1000;       
}

.content {
  margin-top: 60px;   
}

.BookHeader {
  font-family: 'Arial', sans-serif;
  background-color: #0A5313
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #F7C6DE;
  text-decoration: underline;
  text-decoration-color: #F7C6DE;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 60px;
}

.BookHeader:hover {
  color: #0A5313;
  background-color: #F7C6DE;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}



#BookTitle{
  font-family: 'Arial', sans-serif;
  font-size: 15px
  text-align: left;
  color: #0A5313;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #0A5313;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #F7C6DE;
  color: #0A5313;
}

#recommendationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  color:#0A5313;
  font-weight: bold;
  }

.book-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.book-info img {
  max-width: 150px; 
  height: auto; 
}

.book-info p {
  color: #0A5313;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 9px;
  border-bottom: 2px solid #F7C6DE; 
  display: inline-block;
}


p {
  color: #0A5313;
  font-family: 'Arial', sans-serif;
}

.btn-primary {
  background-color: #0A5313;
  border: none;
}

.btn-primary:hover {
  background-color: #F7C6DE;
  color: #0A5313;}

#Embed {
    max-width: 1200px;
    margin: 0 auto;
  }

  iframe {
    width: 675px;
    height: 675px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    
  }

#ngtitle{
color: #0A5313;
text-align: center;
padding-bottom: 30px; 
  margin: 20px 0;

 }

#ngtitle:hover{
  color: #F7C6DE;
  background-color: #0A5313; 
  padding: 10px; 
  border-radius: 5px; 
}

.screenshot {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.visit-btn {
  background-color: #0A5313;
  color: #f7c6de;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

.visit-btn:hover 
{background-color: #F7C6DE;
  color: #0A5313; 
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

